.wrapper
  .sideSpace
    .header
      %h3.header__name
        = current_user.name
        %ul.header__link
          %li.link
          =link_to new_group_path do
            = fa_icon "edit", class: "symbol"
          %li.link
            =link_to edit_user_path(current_user) do
              = fa_icon "cog", class: "symbol"

    .middler
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__id
              = group.name
            .group__message
              memo

  .chat
    .header
      .left-header
        .left-header__id
          = @group.name
        %ul.left-header__members
          Member：
          %li.member
            - @group.users.each do |user|
              = user.name
      .right-header
        .right-header__submit
          = link_to "Edit", edit_group_path(@group)

    .messages{"data-group-id" => @group.id}
      = render partial: 'message', collection: @messages


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__send
          = f.label :image, class: 'form__send__image' do
            = fa_icon 'picture-o', class: 'symbol'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
